<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:allowBackup="true"
        android:name=".presentation.CustomApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BlazedGame"
        tools:targetApi="31">
        <activity
            android:name=".presentation.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/Theme.BlazedGame">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <data
                    android:host="open"
                    android:scheme="blazed_game"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>

        <!-- Branch init -->
        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="key_live_jqfoKdzVjg8Ig4yyMwsxRpflFsd30F8K"/>
        <meta-data
            android:name="io.branch.sdk.BranchKey.test"
            android:value="key_test_ntfcIbCTcjZLi5CCTtttUbepsEf1YtWW"/>

        <!-- Branch testing (TestMode "true" to simulate fresh installs on dev environment) -->
        <meta-data
            android:name="io.branch.sdk.TestMode"
            android:value="false"/>

        <!-- Branch install referrer tracking -->
        <receiver
            android:name="io.branch.referral.InstallListener"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>

<!--        <meta-data android:name="io.branch.sdk.TestMode" android:value="true" />-->
<!--        <meta-data android:name="io.branch.sdk.BranchKey" android:value="key_live_jqfoKdzVjg8Ig4yyMwsxRpflFsd30F8K" />-->


    </application>

</manifest>